Package: usermanage-client
Version: 1.2.1-1
Architecture: i386
Maintainer: ken <91he@sina.com>
Installed-Size: 178
Depends: libc6 (>= 2.4), libcairo2 (>= 1.10.0), libcurl3 (>= 7.16.2), libgdk-pixbuf2.0-0 (>= 2.25.2), libglib2.0-0 (>= 2.37.3), libgtk-3-0 (>= 3.5.4)
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
